html, body {
    min-height: 100%;
}

.backgroundCover {
    background-image: url("images/Background.png");
    background-size: cover;
    overflow: hidden;
    filter: blur(50px);
    height: 9900px;

    animation-delay: 0.8s;
    animation-name: slideIN;
    animation-duration: 6.8s;
    animation-fill-mode: forwards;
}

@keyframes slideIN {
    0% {height: 9900px}
    0% {filter: blur(50px)}

    50% {height: 100px}
    50% {filter: blur(30px)}

    100% {height: 0}
    100% {filter: blur(0px)}
}

@keyframes AnimateBorder{
    0% {border: 10px}
    0% {border-color: #00a4ff}
    0% {border-style: dashed}

    30% {border-color: #004267}
    30% {border-style: dashed}

    40% {border: 6px}
    40% {border-color: #001c2f
    }
    40% {border-style: dashed}

    50% {border-style: dotted}

    100% {border: 3px}
    100% {border-color: #434343}
    100% {border-style: dotted}
}


.boxedHeader {
    border: 3px;
    border-color: #434343;
    border-style: dotted;
    border-radius: 90px / 70px;

}

.boxedHeader2 {
    border: 10px;
    border-color: #00a4ff;
    border-style: dashed;
    border-radius: 90px / 70px;

    animation-name: AnimateBorder;
    animation-fill-mode: forwards;
    animation-duration: 20s;
    animation-delay: 8s;
}


a{
    color: #4b7bff;
    border-bottom-color: #2725a1;
    border-bottom: 3px;
}

a:hover {
    color: #284287;
    border-width: 5px;
}

body {
    background-color: black;
    background-image: url("images/Background.png");
    background-size: cover;
}

p {
    font-size: 30px;
    color: #516dff;
    horiz-align: center;
    font-family: SketchetikLight, sans-serif;
}

@font-face {
    font-family:"SketchetikLight";
    src:
    url("fonts/Sketchetik-Light.eot?") format("eot"),
    url("fonts/Sketchetik-Light.woff") format("woff"),
    url("fonts/Sketchetik-Light.ttf") format("truetype"),
    url("fonts/Sketchetik-Light.svg#Sketchetik-Light") format("svg");
    font-weight:normal;
    font-style:normal;
}
